* {
  font-family: sans-serif;
}

nav, .product, .text {
  max-width: 800px;
  margin: auto;
}
/*Nav*/
nav {
  margin: 56px auto 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.nav__link {
  color: #aaa;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 21px 15px;
  transition: color 0.5s ease;
}
.nav__link:hover {
  color: #555
}
.nav__link-active {
  color: #555;
  border-bottom: 2px solid #545454;
}

/*Product*/

.article{
      background: blueviolet;
    position: relative;
    left: 1%;
    display: inline-block;
    width: 44%;
    height: 20%;
    border-radius: 10px;
}

.article img{
    position: relative;
    left: 6%;
    top: 14px;
}

.news{
          background-color:lightslategrey;
    width: 100%;
    position: relative;
    height: 64%;
    border-radius: 10px;
    top: 0%;
}
.news p{
              border-radius: 5px;
    position: relative;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: auto;
    width: auto;
    color: aliceblue;
}
.maincontent{
    position: absolute;
    top: 20%;
    left: 3%;
    width: 94%;
    height: 75%;
    overflow: scroll;
    overflow-x: hidden
}
.maincontent::-webkit-scrollbar {
  width: 2px;

}
 
.maincontent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.maincontent::-webkit-scrollbar-thumb {
  background-color: blueviolet;
  outline: 1px solid slategrey;
}

.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev    { left: -25%; }
.carousel-control        { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}

.col-md-offset-3{
      width: 100%;
    position: relative;
    top: 0%;
    margin-left: 0%;

}

.mainheading{
      position: absolute;
    top: 0%;
    left: 35%;
    font-size: 42px;
    font-family: 'JetBrains Mono', monospace;
    color: black;
}

.container {
  width: 400px;
  height: auto;
  background-color: #1e272e;
/*   margin: 20vh auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4rem;
  padding: 10px;
}
.search__box {
  float: left;
  width: 0;
  height: 4rem;
/*   display: inline; */
  background: none;
  color: #f7f7f7;
  font-size: 1.5rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  position: relative;
  opacity: 1;
  transition: all .75s ease-in;
  cursor: pointer;
/*   border: 2px solid tomato; */
/*   margin-top: 5px; */
}

/* .search__box:focus, .search__box:hover {
  background-color: #f1f2f6;
} */

.search__icon {
  box-sizing: border-box;
  float: right;
  font-size: 2.5rem;
  display: inline-block;
/*   justify-content: center;
  align-items: center; */
  margin-left: .8rem;
  margin-top: 0;
  cursor: pointer;
  position: absolute;
  color: #fa983a;
  transition: all .25s ease-in;
  padding: .7rem;
  border-radius: 50%;
}

.container:hover > .search__box {
  width: 85%;
  padding: 0 1rem;
}

.container:hover > .search__icon {
  background-color: #eee;
}

.show {
  width: 85%;
  border: 1px solid red;
}

.submitbtn{
      position: absolute;
    top: 65%;
    left: 47%;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: #1e272e;
    color: #fa983a;
}

.summary{
          background-color: black;
    width: 82%;
    overflow: scroll;
    position: absolute;
    top: 15%;
    left: 8%;
    border-radius: 10px;
    font-family: 'JetBrains Mono', monospace;
    color: white;
    padding: 20px;
    line-height: 1.5;
    
}

.summary::-webkit-scrollbar {
  width: 2px;

}
 
.summary::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.summary::-webkit-scrollbar-thumb {
  background-color: blueviolet;
  outline: 1px solid slategrey;
}