


<!DOCTYPE html>
<html>
{% load static %}
{% load scrapecont %}
<head>
	
	<meta charset="utf-8">
	<title>index</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">


  <script type="text/javascript">
 $('#myCarousel').carousel({
  interval: 4000
})

$('.carousel .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  
  for (var i=0;i<2;i++) {
    next=next.next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }
    
    next.children(':first-child').clone().appendTo($(this));
  }
});



  </script>
</head>
<body>

  <p class="mainheading">Content Aggregator</p>
  
<nav>
    <a href="price" class="nav__link">Keywords</a>
    <a href="history" class="nav__link">History</a>
  </nav>
<main>

  

  <!------>
 
<div class="maincontent">

<div class="news">
    <p>Deccan Chronicle</p>
    
   <div class="col-md-6 col-md-offset-3">
<div class="carousel slide" id="ctwo" data-ride="carousel" data-interval="2000" data-pause="hover">
  <div class="carousel-inner">
    <div class="item active">
      <div class="col-xs-3"><a href="{{dc.0.1}}"><img src="{{dc.0.2}}" class="img-responsive"></a>
        <p>{{dc.0.0}}</p>
      </div>
      <div class="col-xs-3"><a href="{{dc.1.1}}"><img src="{{dc.1.2}}" class="img-responsive"></a>
        <p>{{dc.1.0}}</p>
      </div>
      <div class="col-xs-3"><a href="{{dc.2.1}}"><img src="{{dc.2.2}}" class="img-responsive"></a>
        <p>{{dc.2.0}}</p>
      </div>
      <div class="col-xs-3"><a href="{{dc.3.1}}"><img src="{{dc.3.2}}" class="img-responsive"></a>
        <p>{{dc.3.0}}</p>
      </div>
           
    </div>
      
    
    {% for x in ndc %}
    
<div class="item">
  {% for cnt in nn %}
      <div class="col-xs-3"><a href="{% link dc x cnt %}"><img src="{% image dc x cnt %}" class="img-responsive"></a>
      <p>{% title dc x cnt %}</p>
      </div>
      
      
    {% endfor %}
    </div>
    {% endfor %}
    
  


 </div>
  <a class="left carousel-control" href="#ctwo" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
  <a class="right carousel-control" href="#ctwo" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
</div>
</div>
  </div>

  <br>
  <div class="news">
    <p>Sports</p>
    
   <div class="col-md-6 col-md-offset-3">
<div class="carousel slide" id="cth" data-ride="carousel" data-interval="2000" data-pause="hover">
  <div class="carousel-inner">
    <div class="item active">
      <div class="col-xs-3"><a href="{{content.0.1}}"><img src="{{content.0.2}}" class="img-responsive"></a>
        <p>{{content.0.0}}</p>
      </div>
      <div class="col-xs-3"><a href="{{content.1.1}}"><img src="{{content.1.2}}" class="img-responsive"></a>
        <p>{{content.1.0}}</p>
      </div>
      <div class="col-xs-3"><a href="{{content.2.1}}"><img src="{{content.2.2}}" class="img-responsive"></a>
        <p>{{content.2.0}}</p>
      </div>
      <div class="col-xs-3"><a href="{{content.3.1}}"><img src="{{content.3.2}}" class="img-responsive"></a>
        <p>{{content.3.0}}</p>
      </div>
      
           
    </div>
      
    
    {% for x in n %}
    
<div class="item">
  {% for cnt in nn %}
      <div class="col-xs-3"><a href="{% link content x cnt %}"><img src="{% image content x cnt %}" class="img-responsive"></a>
      <p>{% title content x cnt %}</p>
      </div>
      
      
    {% endfor %}
    </div>
    {% endfor %}
    
  


 </div>
  <a class="left carousel-control" href="#cth" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
  <a class="right carousel-control" href="#cth" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
</div>
</div>
  </div>
  <br>
<div class="news">
    <p>Business</p>
    
   <div class="col-md-6 col-md-offset-3">
<div class="carousel slide" id="cthree" data-ride="carousel" data-interval="2000" data-pause="hover">
  <div class="carousel-inner">
    <div class="item active">
      <div class="col-xs-3"><a href="{{buis.0.1}}"><img src="{{buis.0.2}}" class="img-responsive"></a>
        <p>{{buis.0.0}}</p>
      </div>
      <div class="col-xs-3"><a href="{{buis.1.1}}"><img src="{{buis.1.2}}" class="img-responsive"></a>
        <p>{{buis.1.0}}</p>
      </div>
      <div class="col-xs-3"><a href="{{buis.2.1}}"><img src="{{buis.2.2}}" class="img-responsive"></a>
        <p>{{buis.2.0}}</p>
      </div>
      <div class="col-xs-3"><a href="{{buis.3.1}}"><img src="{{buis.3.2}}" class="img-responsive"></a>
        <p>{{buis.3.0}}</p>
      </div>
      
           
    </div>
      
    
    {% for i in nbb %}
    
<div class="item">
  {% for cnt in nn %}
      <div class="col-xs-3"><a href="{% link buis i cnt %}"><img src="{% image buis i cnt %}" class="img-responsive"></a>
      <p>{% title buis i cnt %}</p>
      </div>
      
      
    {% endfor %}
    </div>
    {% endfor %}
    
  


 </div>
  <a class="left carousel-control" href="#cthree" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
  <a class="right carousel-control" href="#cthree" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
</div>
</div>
  </div>
  <br>
<div class="news">
    <p>THE Hindu</p>
    
   <div class="col-md-6 col-md-offset-3">
<div class="carousel slide" id="cthree" data-ride="carousel" data-interval="2000" data-pause="hover">
  <div class="carousel-inner">
    <div class="item active">
      <div class="col-xs-3"><a href="{{hin.0.1}}"><img src="{{hin.0.2}}" class="img-responsive"></a>
        <p>{{hin.0.0}}</p>
      </div>
      <div class="col-xs-3"><a href="{{hin.1.1}}"><img src="{{hin.1.2}}" class="img-responsive"></a>
        <p>{{hin.1.0}}</p>
      </div>
      <div class="col-xs-3"><a href="{{hin.2.1}}"><img src="{{hin.2.2}}" class="img-responsive"></a>
        <p>{{hin.2.0}}</p>
      </div>
      <div class="col-xs-3"><a href="{{hin.3.1}}"><img src="{{hin.3.2}}" class="img-responsive"></a>
        <p>{{hin.3.0}}</p>
      </div>
           
    </div>
      
    
    {% for i in nhi %}
    
<div class="item">
  {% for cnt in nn %}
      <div class="col-xs-3"><a href="{% link hin i cnt %}"><img src="{% image hin i cnt %}" class="img-responsive"></a>
      <p>{% title hin i cnt %}</p>
      </div>
      
      
    {% endfor %}
    </div>
    {% endfor %}
    
  


 </div>
  <a class="left carousel-control" href="#cthree" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
  <a class="right carousel-control" href="#cthree" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
</div>
</div>
  </div>
  <br>

<div class="news">
    <p>NDTV</p>
    
   <div class="col-md-6 col-md-offset-3">
<div class="carousel slide" id="cfour" data-ride="carousel" data-interval="2000" data-pause="hover">
  <div class="carousel-inner">
    <div class="item active">
      <div class="col-xs-3"><a href="{{ndtv.0.1}}"><img src="{{ndtv.0.2}}" class="img-responsive"></a>
        <p>{{ndtv.0.0}}</p>
      </div>
      <div class="col-xs-3"><a href="{{ndtv.1.1}}"><img src="{{ndtv.1.2}}" class="img-responsive"></a>
        <p>{{ndtv.1.0}}</p>
      </div>
      <div class="col-xs-3"><a href="{{ndtv.2.1}}"><img src="{{ndtv.2.2}}" class="img-responsive"></a>
        <p>{{ndtv.2.0}}</p>
      </div>
      <div class="col-xs-3"><a href="{{ndtv.3.1}}"><img src="{{ndtv.3.2}}" class="img-responsive"></a>
        <p>{{ndtv.3.0}}</p>
      </div>
      
      
           
    </div>
      
    
    {% for i in ndtvrange %}
    
<div class="item">
  {% for cnt in nn %}
      <div class="col-xs-3"><a href="{% link ndtv i cnt %}"><img src="{% image ndtv i cnt %}" class="img-responsive"></a>
      <p>{% title ndtv i cnt %}</p>
      </div>
      
      
    {% endfor %}
    </div>
    {% endfor %}
    
  


 </div>
  <a class="left carousel-control" href="#cfour" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
  <a class="right carousel-control" href="#cfour" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
</div>
</div>
  </div>
<br>


<div class="news">
    <p>Technology</p>
    
   <div class="col-md-6 col-md-offset-3">
<div class="carousel slide" id="cfive" data-ride="carousel" data-interval="2000" data-pause="hover">
  <div class="carousel-inner">
    <div class="item active">
      <div class="col-xs-3"><a href="{{tech.0.1}}"><img src="{{tech.0.2}}" class="img-responsive"></a>
        <p>{{tech.0.0}}</p>
      </div>
      <div class="col-xs-3"><a href="{{tech.1.1}}"><img src="{{tech.1.2}}" class="img-responsive"></a>
        <p>{{tech.1.0}}</p>
      </div>
      <div class="col-xs-3"><a href="{{tech.2.1}}"><img src="{{tech.2.2}}" class="img-responsive"></a>
        <p>{{tech.2.0}}</p>
      </div>
      <div class="col-xs-3"><a href="{{tech.3.1}}"><img src="{{tech.3.2}}" class="img-responsive"></a>
        <p>{{tech.3.0}}</p>
      </div>
      
      
      
           
    </div>
      
    
    {% for i in ntech %}
    
<div class="item">
  {% for cnt in nn %}
      <div class="col-xs-3"><a href="{% link tech i cnt %}"><img src="{% image tech i cnt %}" class="img-responsive"></a>
      <p>{% title tech i cnt %}</p>
      </div>
      
      
    {% endfor %}
    </div>
    {% endfor %}
    
  


 </div>
  <a class="left carousel-control" href="#cfive" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
  <a class="right carousel-control" href="#cfive" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
</div>
</div>
  </div>


</div>

</main>
</body>
</html>



<!-- {% for key,val in content.items %}
  {% with name=val.1 %}
    <div class="article">
      <p width="300px" height="200px" class="product__item__image">{{name}}</p>
      <p class="product__item__text"><a href="{{val.0}}">Click here</a></p><br>
      
    </div>
    


  {% endwith %}
  {% endfor %} -->